<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.fernandobarillas.linkshare"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".LinksApp"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:replace="android:allowBackup">
        <activity
                android:name=".activities.LinksListActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.AddLinkActivity"
                android:label="@string/title_add_link"
                android:theme="@style/AddLinkTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.EditLinkActivity"
                android:label="@string/title_edit_link"
                android:theme="@style/EditLinkTheme"
                android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
                android:name=".activities.LoginActivity"
                android:label="@string/title_activity_login"
                android:theme="@style/LoginTheme">
        </activity>
        <activity
                android:name=".activities.SettingsActivity"
                android:label="@string/title_settings"
                android:parentActivityName=".activities.LinksListActivity"
                android:theme="@style/SettingsTheme">
        </activity>
        <activity
                android:name=".activities.AboutActivity"
                android:label="@string/title_about"
                android:parentActivityName=".activities.SettingsActivity"
                android:theme="@style/AboutTheme">
            <intent-filter>
                <action android:name="AboutActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>